gpucore.*
vgcore.*

Makefile
CMakeCache.txt
cmake_install.cmake
CMakeFiles

testinter
testintra
testcpu
testhybrid
testexprgen
testmutation
testcrossover
testisland
testexprpick
libquicksr.so

benchmark/benchmark1d.sh
benchmark/benchmark2d.sh

*.log
