quicksr.exe
gpucore.*

*.so
*.o

compiler/*.o
dataset/*.o
expressions/*.o
tests/*.o
tests/*.exe

intra-individual/program/*.o
intra-individual/vm/*.o
intra-individual/.o

inter-individual/program/*.o
inter-individual/vm/*.o
inter-individual/.o
